//Estilos para cart widget
.containerCarrito {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;


    .sizeCart {
        font-size: 26px;
        color: rgb(0, 0, 0);
    }

    .colorNumber {

        color: rgb(7, 7, 7);
        font-weight: bolder;

    }



}