//Estilos de mi footer
//Le decimos a react que vamos a trabajar los estilos por modulos y no se pisen los estilos
.contenedorFooter{

    background-color: grey;
    font-weight: bolder;
    

    h5{

        margin-top: 80px;

    }

}

